@charset "UTF-8";

/* Style base fonts and other typography  -------------------------------- */

html {
  font-size: .9rem; /* 1rem = 16px as base font -------------------------------- */

}

body {
  line-height: 1.5rem;
  font-size: 1rem;
  background: #FAFAFA;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
   color: #434c57;
   margin-bottom:.3rem;
}

h3, h4, h5, h6 {
   font-weight: 600;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

p, blockquote, abbr, acronym, address, cite, code, del, dfn, tt, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption {
font-weight: 300;
font-size: 1rem;
}

/* Bold all links in the container body -------------------------------- */

.container a {
   font-weight: 600;
}

/* Styling for the inline tags on projects pages -------------------------------- */

ul.tags {
   margin: 0 0 1rem 0;
   padding: 0 0 0 .75rem;
}

ul.tags li {
   display: inline-block;
   margin-right: .4rem;
   padding: .5rem;
   border: 1px solid #cccccc;
   border-radius: 4px;
   font-size: .85rem;
}

ul.tags li:before {
   content: "\f02b";
   margin-right: .4rem;
   font-family: FontAwesome;
   opacity:.75;
}

/* Styling for Font Awesome icons -------------------------------- */

.fa-spacer-right {
   margin-right: .5rem;
}

.fa-spacer-left {
   margin-left: .5rem;
}

/* Style the Project Description -------------------------------- */

#project-description {
   margin:0 0 1.5rem 0;
}

/* Set a margin-bottom on all rows -------------------------------- */

.container .row {
   margin-bottom: 1rem;
}

/* Style the parentheticals -------------------------------- */

.parenthetical {
   color: #777777;
}

.parenthetical:before {
   content: "(";
}

.parenthetical:after {
   content: ")";
}

#subjectsModal {
   padding: 0px !important;
}

/* Modal styles -------------------------------- */

.modal-dialog {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

.modal-content {
   height: auto;
   min-height: 100%;
   border-radius: 0;
}

/* icon styles -------------------------------- */

.short-round {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
}

/* Colors -------------------------------- */

.white {
   color: #FFFFFF;
}

.grey {
   color: grey;
}

.red {
   color: #db4c3f;
}

.green {
   color: green;
}

/* Lists -------------------------------- */

.container div ul li {
   line-height: 1.3rem;
   margin-bottom: .75rem
}

.list-unstyled li {
   margin: .5rem 0 .5rem 0;
   padding: .2rem 0 .4rem 0;
   line-height: 1.3;
   border-bottom: 1px solid #ececec;
}

.list-unstyled li:last-of-type {
   border-bottom: none;
}

/* Well and Example containers -------------------------------- */


.well {
   border-radius: 0px 0px 4px 4px;
   font-size: 18px;
}

.example {
    position: relative;
    margin: 15px 0 0;
    padding: 50px 20px 12px 20px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    z-index: 2;
}

.example:after {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: #656f7a; /* #dff0d8  002b5b */
    color: #FFFFFF; /*#3c763d */
    padding:6px;
    border-radius: 4px 0 4px 0;
    font-weight: 400;
}

/* Google Prettyprint styles -------------------------------- */
pre.prettyprint {
   border: none !important;
   padding: 10px !important;
   font-size: 15px;
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Copier Button for code wells -------------------------------- */
btn.copier {
   width: 40px;
   height: 40px;
   margin: 10px !important;
}

/* Alert color */
.alert-intro {
   background: #f1f6f6;
}

.alert-default {
   background: #ececec;
}

/* Instrucitons Steps styles -------------------------------- */

.step {
   font-size: 20px;
   height: 44px;
   width: 44px;
   padding: 8px;
   border-radius: 50px;
   border: 1px solid #CCCCCC;
}

.conditional {
   background: transparent;
   color: #777777;
}

.success {
   background: #5cb85c;
   color: #FFFFFF;
}

/* Steps Table styles -------------------------------- */

table.numbered-steps tr td:first-of-type { /* NOTE: formats the table with steps */
   padding: 3px;
   text-align: center;
   vertical-align: middle;
   font-weight: 600;
   background: #FAFAFA;
   color: #666666;
   font-size: 1.3rem
}

/* Footer styles -------------------------------- */

div.social-networking-footer {
   /* background: */
   color: #CCCCCC;
   border: 1px solid grey;
}

footer {
   /* background: #061a26; */
   color: #CCCCCC;
   border: 1px solid grey;
}

footer ul.list-unstyled li {
   margin: 0;
   padding: 0;
   line-height: 1.3rem;
}

footer ul.list-unstyled li a {
   color: #CCCCCC;
}

footer ul.list-unstyled li a:hover,
footer ul.list-unstyled li a:active {
   color: #CCCCCC;
   text-decoration: none;
}


/* Eliminate the last hr separating instruction steps */

.instruction-set:last-of-type + hr {
   display: none;
}
